version: "3.8"

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: pessoa_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db-data:/var/lib/postgresql/data
    networks:
      - appnet

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    environment:
      - discovery.type=single-node
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - cluster.name=graylog
    ulimits:
      memlock:
        soft: -1
        hard: -1
    volumes:
      - es-data:/usr/share/elasticsearch/data
    networks:
      - appnet

  mongo:
    image: mongo:6
    volumes:
      - mongo-data:/data/db
    networks:
      - appnet

  graylog:
    image: graylog/graylog:5.0
    environment:
      GRAYLOG_ROOT_PASSWORD_SHA2: 2b6e...replace_with_hash
      GRAYLOG_HTTP_EXTERNAL_URI: http://127.0.0.1:9000/
    depends_on:
      - mongo
      - elasticsearch
    ports:
      - "9000:9000"
      - "12201:12201/udp"
    networks:
      - appnet

  app:
    build: .
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_NAME: pessoa_db
      DB_USER: postgres
      DB_PASS: postgres
      GRAYLOG_HOST: graylog
      GRAYLOG_PORT: 12201
    depends_on:
      - db
      - graylog
    ports:
      - "8080:8080"
    networks:
      - appnet

volumes:
  db-data:
  es-data:
  mongo-data:

networks:
  appnet:
    driver: bridge
